<html>
    <head>
        <title>Job Matcher</title>
    </head>
    <body>
        <h1>Job Matcher</h1>
        <h2>Pick from 1 to 3 based on how well each statement describes you</h2>
        <form action = "results.html" method ="POST">
            You enjoy solitude.
            <br>
            <br>
            <select name = "mind">
                <option value = 1>1</option>
                <option value = 2>2</option>
                <option value = 3>3</option>
            </select>
            <br>
            <br>
            <br>
            You have no idea what you want to pursue in the future.
            <br>
            <br>
            <select name = "energy">
                <option value = 1>1</option>
                <option value = 2>2</option>
                <option value = 3>3</option>
            </select>
            <br>
            <br>
            <br>
            You hate math.
            <br>
            <br>
            <select name = "nature">
                <option value = 1>1</option>
                <option value = 2>2</option>
                <option value = 3>3</option>
            </select>
            <br>
            <br>
            <br>
            You procrastinate often.
            <br>
            <br>
             <select name = "tactics">
                <option value = 1>1</option>
                <option value = 2>2</option>
                <option value = 3>3</option>
            </select>
            <br>
            <br>
            <br>
            You don't perform well under pressure.
            <br>
            <br>
             <select name = "identity">
                <option value = 1>1</option>
                <option value = 2>2</option>
                <option value = 3>3</option>
            </select>
            <br>
            <br>
            <br>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>